body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

body::before {
  content: "";
  position: fixed;
  background: #000000 url("../img/background.jpg") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}


a {
  color: #14c871;
  text-decoration: none;
}

a:hover {
  color: #206bfb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #00000094;
  border-style: solid;
  border-color: rgba(141, 232, 255, 0.212);
  width: 60px;
  height: 60px;
  border-radius: 100px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: rgb(141, 232, 255);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  background: #000000;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#header .logo a {
  color: #5f687b;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 991px) {
  #header {
    padding: 12px 0;
  }
}

/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #6a7489;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: rgb(141, 232, 255);
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 1;
  color: #5f687b;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #cdd1d9;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: #206bfb;
  color: #fff;
  border-color: #206bfb;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #16df7e;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #5f687b;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(73, 80, 94, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #5f687b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #16df7e;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  padding: 10px 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #16df7e;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

section {
  padding: 70px 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.74);
}


.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.hero {
  position: relative;
  padding: 0;
  padding-top: 140px;
}

.hero .section-title .title {
  position: absolute;
  top: 44px;
  color: #a3a3a32c;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-style: italic;
  font-size: 74px;
  text-transform: uppercase;
  line-height: 0;
  font-family: "Raleway", sans-serif;
}

.hero .section-title .subtitle {
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #ffffff;
  position: relative;
  font-style: italic;
  z-index: 2;
}

.hero .section-title span {
  color: rgb(141, 232, 255);
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 0;
  z-index: 2;
}

.hero .section-title .text {
  color: rgb(229, 229, 229);
  font-size: 26px;
  font-weight: 600;
  font-style: italic;

}

.cards {
  padding: 90px 0 40px;
}

.cards .count-box {
  padding: 38px 38px 18px 38px;
  width: 100%;
  height: 250px;
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.315);
  /* Color de fondo semitransparente */
  backdrop-filter: blur(5px);
  /* Aplica un desenfoque al fondo */
  border-style: solid;
  border-color: rgba(141, 232, 255, 0.212);
  border-radius: 10px;
  transition: all 0.3s ease-out 0s;
}

.cards .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  background-color: rgba(0, 0, 0, 0.315);
  /* Color de fondo semitransparente */
  backdrop-filter: blur(5px);
  /* Aplica un desenfoque al fondo */
  border-style: solid;
  border-color: rgba(141, 232, 255, 0.212);
  color: rgb(141, 232, 255);
  width: 70px;
  height: 70px;
  line-height: 0;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out 0s;
}

.cards .count-box:hover i {
  rotate: -10deg;
  transition: all ease-in-out 0.2s;
}

.cards .count-box .title {
  color: rgb(141, 232, 255);
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 10px;
}

.cards .count-box .text {
  color: rgb(228, 228, 228);
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.about .section-title .title {
  position: absolute;
  top: 44px;
  color: #a3a3a32c;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-style: italic;
  font-size: 74px;
  text-transform: uppercase;
  line-height: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.about .section-title .subtitle {
  text-align: center;
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-bottom: 0;
  color: #ffffff;
  position: relative;
  font-style: italic;
  z-index: 2;
}

.about .section-title span {
  color: rgb(141, 232, 255);
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 0;
  z-index: 2;
}

.about .section-title .text {
  color: rgb(229, 229, 229);
  font-size: 26px;
  font-weight: 600;
  font-style: italic;

}

.about .member {
  text-align: center;
  margin-bottom: 20px;
  padding: 30px 5px;
  border-radius: 10px;
}

.about .member img {
  max-width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(141, 232, 255, 0.212);
}

.about .member p {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  text-align: start;
  color: white;
}

.cta {
  padding: 60px 0;
  background-color: rgba(0, 0, 0, 0.806);
  backdrop-filter: blur(5px);

}

.cta span {
  color: rgb(255, 255, 143);
}

.cta p {
  color: #fff;
  font-size: 78px;
  font-weight: 700;
  font-style: italic;
}

.service {
  padding-top: 170px
}

.service .section-title .title {
  position: absolute;
  top: 44px;
  color: #a3a3a32c;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  ;
  font-style: italic;
  font-size: 74px;
  text-transform: uppercase;
  line-height: 0;
  font-family: "Raleway", sans-serif;
}

.service .section-title .subtitle {
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #ffffff;
  position: relative;
  font-style: italic;
  z-index: 2;
}

.service .section-title span {
  color: rgb(141, 232, 255);
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 0;
  z-index: 2;
}

.service .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #5f687b;
  padding: 10px;
}

.service .content p {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  text-align: start;
  color: rgb(225, 225, 225);
}

.service .box-info span {
  color: rgb(141, 232, 255);
  font-weight: 700;
}

.service .box-info2 span {
  font-weight: 800;

}

.service .box-info2 .marc {
  color: rgb(255, 255, 170);
  font-weight: 700;
}

.service i {
  color: rgb(136, 255, 136);
}

.service .box-info {
  background-color: rgba(0, 0, 0, 0.315);
  /* Color de fondo semitransparente */
  backdrop-filter: blur(5px);
  /* Aplica un desenfoque al fondo */
  border-style: solid;
  border-color: rgba(141, 232, 255, 0.212);
  border-radius: 10px;
}

.service .box-info2 {
  padding: 30px;
}

.service .box-info .pad {
  padding: 20px;
}

.service .box-info p {
  text-align: center;
}

.service .content ul {
  list-style: none;
  padding: 0;
}

.service .content ul li {
  padding-bottom: 10px;
}

.service .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #16df7e;
}

.service .content p:last-child {
  margin-bottom: 0;
}


.agenda .section-title .title {
  position: absolute;
  top: 44px;
  color: #a3a3a32c;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-style: italic;
  font-size: 74px;
  text-transform: uppercase;
  line-height: 0;
  font-family: "Raleway", sans-serif;
}

.agenda .section-title .subtitle {
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #ffffff;
  position: relative;
  font-style: italic;
  z-index: 2;
}

.agenda .section-title span {
  color: rgb(141, 232, 255);
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 0;
  z-index: 2;
}

.agenda .box {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.315);
  /* Color de fondo semitransparente */
  backdrop-filter: blur(5px);
  /* Aplica un desenfoque al fondo */
  border-style: solid;
  border-color: rgba(141, 232, 255, 0.212);
  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.agenda iframe {
  border-radius: 10px;
  height: 700px;
}

.agenda .b-pad {
  margin-bottom: 12px;
}

.agenda .b-pad p {
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
}

.agenda .box ul {
  padding: 0;
  list-style: none;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  margin-top: 20px;
}

.agenda .box ul li {
  padding-bottom: 16px;
}

.agenda .box ul i {
  color: #106eea;
  font-size: 18px;
  padding-right: 4px;
}

.agenda .box .bi-check-circle-fill {
  color: rgb(136, 255, 136);
}

.agenda .box .bi-x-circle-fill {
  color: rgb(255, 123, 123);
}

.agenda .box .bi-plus-circle-fill {
  color: rgb(255, 249, 136);
  font-size: 30px;
}

#footer {
  color: #5f687b;
  font-size: 14px;
  position: relative;
  background-color: black;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 40px 0;
}

#footer .social-links a {
  font-size: 30px;
  display: inline-block;
  background: #eaecef;
  color: #5f687b;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 10px;
  text-align: center;
  width: 46px;
  height: 46px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: rgb(92, 185, 209);
  color: #fff;
  text-decoration: none;
  rotate: -20deg;
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes emojis-fall {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@keyframes emojis-snake {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(80px);
  }

  100% {
    transform: translateX(0px);
  }
}

.emoji {
  position: fixed;
  z-index: -1;
  color: red;
  top: -10%;
  animation-name: emojis-fall, emojis-snake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.emoji:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s, 0s;
}

.emoji:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}

.emoji:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}

.emoji:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}

.emoji:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 3s, 2s;
  animation-delay: 3s, 2s;
}

.emoji:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 0.5s;
  animation-delay: 8s, 0.5s;
}

.emoji:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 5s, 5s;
  animation-delay: 5s, 5s;
}

.emoji:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 1s, 2s;
  animation-delay: 1s, 2s;
}

.emoji:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 2s, 0.5s;
  animation-delay: 2s, 0.5s;
}